@import 'bootstrap/dist/css/bootstrap.min.css';


.scroll-to-top {
    background-color: var(--bs-primary);
    top: 80px;
    box-shadow: 0 9px 25px 0 var(--bs-gray);
  }

.navbar {
  background-color: var(--bs-primary);
}

.table-of-contents {
  width: 80%;
    column-count: 6;
    column-fill: auto;
    overflow: hidden;
    height: 100px;
}

.card {
  margin-left: 1em;
  margin-right: 1em;
  margin-top: 1em
}

.card-header .badge-primary {
  font-size: 1rem;
  font-weight: 400;
  background-color: var(--bs-primary);
}

.card-header .badge-info {
  font-size: 1rem;
  font-weight: 400;
  background-color: var(--bs-info);
}

.card-header .badge-success {
  font-size: 1rem;
  font-weight: 400;
  background-color: var(--bs-success);
}

.card-header .badge-secondary {
  font-size: 1rem;
  font-weight: 400;
  background-color: var(--bs-secondary);
}

li .btn {
  line-height: 1;
  font-size: 1rem;
  margin-bottom: 0.5em;
  background-color: var(--bs-light);
  border-color: var(--bs-light);
  color: var(--bs-dark);
}
