.card.person {
    background-color: var(--lostma-light);
    color: var(--lostma-dark);
    border-color: var(--lostma-muted);
    width: 100%;
}

.card.person .text-muted {
    color: var(--lostma-dark);
}

.card.person img {
    max-width: 66%;
    display: block;
    margin-left: auto;
    margin-top: 6px;
    margin-right: auto;
    border-radius: 1em;
}

.card.person .card-body {
    display: grid;
    align-items: end;
}